<a href="https://colab.research.google.com/github/fbeilstein/algorithms/blob/master/lecture_04_recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Call stack for functions

## What is stack?


## What is callstack?

# Recursive problems

# Basic Recursion

* base case
* recursion

# Famous recursive algorithms

In [46]:
# sum
def recursive_sum(n):
  if not n: return 0
  return n[-1] + recursive_sum(n[:-1])

recursive_sum([1,2,3])

6

In [ ]:
# fibonacci
def fib(n):
  if n == 0 or n == 1: return 1
  return fib(n-1) + fib(n-2)

fib(4)

5

In [ ]:
# binomial coefficient
def c(n, k):
  if k == 0 or n == k: return 1
  return c(n-1, k-1) + c(n-1, k)

(1, 5, 10, 10, 5, 1)

In [ ]:
# factorial
def f(n) :
  if n == 0: return 1
  return n * f(n-1)

f(5)

In [44]:
def pow(x,n):
  if n == 0: return 1
  if n&1:
    return x*pow(x*x, n//2)
  else:
    return pow(x*x, n//2)

pow(5,3)

125

In [39]:
# Tower of Hanoi
def TowerOfHanoi(n, a, b, c):
    if n == 0: return
    TowerOfHanoi(n-1, a, c, b)
    print("Move disk", n, "from ", a, "to ", b)
    TowerOfHanoi(n-1, c, b, a)

TowerOfHanoi(3, 'a', 'b', 'c')

Move disk 1 from  a to  b
Move disk 2 from  a to  c
Move disk 1 from  b to  c
Move disk 3 from  a to  b
Move disk 1 from  c to  a
Move disk 2 from  c to  b
Move disk 1 from  a to  b

In [ ]:
# Euclid algortihm
def gcd(a, b) :
  if not b: return a
  return gcd(b, a%b)

gcd(24, 42)

6

In [56]:
# get all subsets
def subset(n):
  if not n: return [[]]
  S = subset(n[:-1])
  return S + [(s + [n[-1]]) for s in S]

subset([1,2,3])

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

In [63]:
# get all permutations
def permute(n):
  if not n: return [[]]
  P = permute(n[:-1])
  out = []
  for p in P:
    for i in range(len(p)+1):
      out += [p[:i] + [n[-1]] + p[i:]]
  return out

permute([1,2,3])

[[3, 2, 1], [2, 3, 1], [2, 1, 3], [3, 1, 2], [1, 3, 2], [1, 2, 3]]

In [78]:
# linear search

def linear_search(arr, v):
  if not arr: return False
  if arr[-1]==v: return True
  return linear_search(arr[:-1], v)



linear_search([], 4)

False

In [74]:
# binary search: arr is non-decreasing

def bin_helper(arr, v, l, r):
  if l+1==r: return arr[l]==v
  m=(l+r)//2
  if v<arr[m]:
    return bin_helper(arr, v, l, m)
  else:
    return bin_helper(arr, v, m, r)

def bin_search(arr, v):
  return bin_helper(arr, v, 0, len(arr))

bin_search([1,2,4,4,5,6], 3)

False

In [ ]:
# mergesort

In [ ]:
# quicksort

In [ ]:
# binary tree traversals

In [ ]:
# dfs graph traversal

# Tail recursion and TCO

In [ ]:
def f(n):
  if n==0: return 1
  return n * f(n-1)

def g(n, acc=1):
  if n==0: return acc
  return g(n-1, acc*n)

f(5), g(5)

(120, 120)

In [ ]:
%timeit f(500)

150 µs ± 44.9 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%timeit g(500)

168 µs ± 35 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
def sum(n) :
  if not n : return 0
  return n[-1] + sum(n[:-1])


def sum1(n, acc=0) :
  if not n : return acc
  return sum1(n[:-1], acc+n[-1])

sum([1,2,3])
sum1([1,2,3])

6

Binary tree